.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding: 8px;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: white;
}
.Conectado{
  background-color: rebeccapurple;
}
.Desconectado{
  background-color: black;
}
